<div id="edit-menu" class="settings-menu">
    <div class="settings-header">
        <h2>Edit Tags</h2>
        <button class="close-edit-button">&times;</button>
    </div>
    <div id="edit-form">
        <div class="form-section">
            <div class="form-group">
                <label for="edit-artist">Artist:</label>
                <input type="text" id="edit-artist">
            </div>
            <div class="form-group">
                <label for="edit-year">Year:</label>
                <input type="text" id="edit-year">
            </div>
            <div class="form-group">
                <label for="edit-genre">Genre:</label>
                <select id="edit-genre">
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip Hop">Hip Hop</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Classical">Classical</option>
                    <option value="Country">Country</option>
                    <!-- Add more genres as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="edit-album">Album:</label>
                <input type="text" id="edit-album">
            </div>
            <div class="form-group">
                <label for="edit-title">Title:</label>
                <input type="text" id="edit-title">
            </div>
            <div class="form-group">
                <label for="edit-album-art">Album Art:</label>
                <div id="album-art-slider" class="album-art-slider">
                    <img id="edit-album-art" src="" alt="Album Art" style="max-width: 100%; max-height: 200px;">
                </div>
            </div>
        </div>
        <button id="apply-edit" class="Button">Apply Edit</button>
    </div>
</div>
